.menu_list {
  background-color: white;
}

.menu_list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.menu_list__item_info {
  list-style-type: none;
  color: rgb(0, 81, 255);
}

.menu_list__item_controls {
  display: flex;
  flex-direction: column;
  color: blueviolet;
}
