body{
    font-family: 'Oswald', sans-serif;
    text-shadow:rgba(28, 210, 0, 0.592) 1px 1px;
    background-color: rgb(243, 243, 243);
    min-width: 1020px;
}
header{ font-size: 20pt;}
.main{
    min-height: 350px;
    width: 1000px;
    background-color: rgb(243, 243, 243);
    /* border: 1px solid black; */
    margin: auto;
}
.column{
    display: block;
}
.input, .output{
    margin: 5px 0;
    min-height: 250px;
    width: 1000px;
    border: 4px solid rgba(28, 210, 0, 0.599);
    border-radius: 5px;
    border-style: ridge;
}
.isCentered{
    display: flex;
    justify-content: center;
}
#textFields{
    margin: auto;
    display: block;
    width: 800px;
    /* border: 1px solid orange; */
}
input{
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin: auto;
}
h1, h2{ margin: 10px 0;}
.green{ color: rgb(28, 210, 0); text-shadow:black 1px 1px}
#textFields > div{ padding: 10px 0;  }
#textFields * span:first-child{ margin-right: 10px; }
#textFields #name{ width: 600px;}
#textFields #amount{ width: 450px;}
#textFields * button{ font-family: 'Oswald', sans-serif; font-weight: 600; font-size: 14pt; border-radius: 7px; background-color: rgb(28, 210, 0); color: white; text-align: center; padding: 5px;}
.description{
    font-size: 14pt;
    font-weight: 600;
}
table{ border: 1px solid black; background-color: antiquewhite; margin: 20px 0; word-wrap: break-word;}
.titleRow{ text-align: center;}
td{ border: 1px solid black; min-height: 20px;}
.nameColumn{ min-width: 350px; }
.dateColumn{ min-width: 150px; }
.amountColumn{ min-width: 200px; }