/* .filter-expenses {
    margin: auto;
    padding: 20px;
    width: 95%;
    border: 1px solid yellow;
}
.filter-expenses p {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}
.filter-by-year {
    display: flex;
    justify-content: space-between;
}
.expense-diagramm {
    background-color: violet;
    height: 160px;
    width: 100%;
}
.diagramm-item {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid red;
}
.diagramm-item__graph {
    margin: auto;
    background-color: blueviolet;
    border-radius: 5px;
    height: 120px;
    width: 15px;
    overflow: hidden;
}
.diagramm-item__graph__fill {
    background-color: bisque;
    height: 15%;
} */

.expenses-filter {
    color: white;
    padding: 0 1rem;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }