*{
    box-sizing: border-box;
}

#wrapper{
    margin: 30px auto;
    width: 1100px;
    border: 1px solid black;
    background-image: url("images/bg.png");
}

header{
    border: 1px solid black; 
}
footer{
    padding: 5px 20px;
    border: 1px solid black;
    text-align: center;
}

#elem1 {
    position: relative;
	margin: 0 auto;
	width:400px;
	height: 300px;
	background-color: #FF8888;
}
#elem2 {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 75px;
    width: 75px;
	background-color: #7E89EB;
}
#elem3 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    
    height: 75px;
    width: 75px;
	background-color: #7E89EB;
}
footer #elem1+p{
    text-align: left;
    width:fit-content;
    background-color: chartreuse;
}

section{
    display: flex;
}

#left-sidebar{
    width: 200px;
    margin-right: 20px;
    padding: 5px 20px;
    border: 1px solid black;
}
#content{
    width: 660px;
    padding: 5px 20px;
    border: 1px solid black;
}
#rigth-sidebar{
    width: 200px;
    margin-left: 20px;
    padding: 5px 20px;
    border: 1px solid black;
}

.block{
    margin: 20px 0 50px 220px;    
}

nav{ 
    width: 500px;
}

ul{
    border: 1px solid black;
    padding-left: 0;
}

li{
    display: inline-block;
}
li:nth-child(n+3):nth-child(-n+4) a:hover{
    color:green;
}

a:link, a:visited{
    display: block;
    color: blue;
    padding: 0 5px;
    line-height: 30px;
    text-decoration: none;
}
a:hover, a.active{
    text-decoration: underline;
    color:tomato;
}

h1{
    font: 14pt Courier;
    font-weight: normal;
}

#content p{
    text-align: justify;
    font-size: 10pt;
    text-indent: 30px;
}