/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img, svg {
  max-width: 100%;
  vertical-align: top;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Выставляем основные настройки по-умолчанию для body */
html{ height: 100%;}
body {
    height: 100%;
    line-height: 1;
    font-size: 1rem;
    color: #000000;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: .5rem;
    border-left: .0625rem solid rgba(194, 194, 194, 0.4);
}
::-webkit-scrollbar-thumb {
    background: #2d83e6bb;
    border-radius: 1.25rem;
    border: .0625rem solid #fff;
}

._container{
    max-width: 1000px;
    margin: 0px auto;
    padding: 0px 2rem;
    box-sizing: content-box;
}
section{ margin-bottom: 1rem;}
.blueBackG{ background-color: #2d83e6; }
.flexRowCenter{ display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.flexColumnCenter{ display: flex; flex-direction: column; align-items: center; }
.textBox > *:not(:last-child) { margin-bottom: 1rem; }
.textBox > *:last-child { margin-bottom: 2rem; }


/*---HEADER-----------------------------------------------------------*/

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    box-shadow: 0rem .125rem .125rem 0rem rgba(0, 0, 0, 0.616);
}
header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#2d83e6;
    z-index: 3;
} 
.headerWrap{ 
    font-weight: 700;
    height: 5rem;
}
.logo{
    flex: 0 0 4rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.logo:hover{
    background: url("images/logo!.jpg") no-repeat center;
    background-size: 5rem, 5rem;
}
.burger {
    display: none;
}
.menuList{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    color:#ffffff;
    line-height: 1.875rem;
    position: relative;
    z-index: 3;
}
.menuItem:not(:last-child) {
    margin-right: 1rem;
}
.menuLink{
    line-height: 150%;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase ;
}

.button{
    color: #fff;
    border: 1px solid #fff;
    padding: .3125rem .625rem;
    margin: 1.25rem 0;
    border-radius: 1.5625rem;
    height: 1.875rem;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
.button:hover{
    color: #2d83e6;
    background-color: white;
}
.more > .button:hover{
    border: 1px solid #2d83e6;
}
@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    .headerWrap{
        height: 3.125rem;
    }
    .logo{
        flex: 0 0 3rem;
    }
    .burger {
        display: block;
        position: relative;
        width: 1.875rem;
        height: 1.25rem;
        position: relative;
        z-index: 3;
    }
    .burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: .5625rem;
        transition: all 0.3s ease 0s;
    }
    .burger:before,
    .burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .burger:before{
        top: 0;
    }
    .burger:after{
        bottom: 0;
    }
    .burger.active::before{
        transform: rotate(45deg);
        top: .5625rem;
    }
    .burger.active::after{
        transform: rotate(-45deg);
        bottom: .5625rem;
    }
    .burger.active span{
        transform: scale(0);
    }
    .navBar{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(127, 208, 255);
        padding: 4.375rem .625rem 1.25rem 2rem;
        transition: all 0.5s ease 0s;
    }
    .navBar.active{
        top: 0;
    }
    .menuList{
        display: block;
    }
    .menuItem{
        margin: 0 0 .75rem 0;
    }
    .menuLink{ font-size: 1.75rem;}
}

/*---MAIN-------------------------------------------------------------*/

.main{
    padding: 8rem 0 0 0;
    flex: 1 1 auto;
    
}
@media (max-width: 767px) {
    .main{
        padding: 5rem 0 0 0;
    }
}

.main * h1{ font-family: 'Amatic SC', cursive; font-size: 3rem; padding: 1rem 0rem 0rem 0rem;}
.main * h3{ font-size: 1.25rem; font-weight: 500;}
.main h1, .main h3{ text-align: center; }
.about * p, .skills * p{ text-align: justify; font-size: 1.25rem }

.avatar{ max-width: 15rem; border-radius: 50%; overflow: hidden; margin: 2rem 0px; border: .1875rem solid #fff; outline: .1875rem solid #3700ff83;}
@media (max-width: 767px) {
    .avatar{
        max-width: 12rem;
        margin: 1.5625rem 0px;
    }
}
@media (max-width: 425px) {
    .avatar{
        max-width: 12rem;
        margin: 1.5625rem 0px;
    }
}

.workplaceArt{ max-width: 45rem; margin-bottom: 2.5rem; }

.about {
    padding: 1rem 0 8rem 0;
}
.about * h1, .about * p { color:#ffffffd5;}
.about * p{font-size: 1.5rem;}

/*--SKILLS------------------------------------------------------*/

.skills * .box {
    background-color:white;
    box-shadow: 0rem .3125rem .3125rem 0rem rgba(144, 144, 144, 0.6);
    margin: -8rem 0px 0px 0px;
    border: .0625rem solid rgb(167, 167, 167);
    border-radius: 1rem;
}
.skills * .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skills * .column:not(:last-child) { border-right: 0.06rem solid rgb(167, 167, 167); }
.skills * .column {
    width: 33.333%;
    min-height: 20rem;
    padding: 0 1rem;
    
}
@media (max-width: 768px) {
    .skills * .column {
        width: 100%;
    }
    .skills * .column:not(:last-child) { border-right: none; border-bottom: .0625rem solid rgb(167, 167, 167);}
    
}
.skills * h1 { font-size: 2rem; }
.skills * h3 { color:rgb(45, 131, 230); font-weight: 700; margin: 0 3rem;}
.skills * p {
    padding: 0 1rem;
    font-size: 1.25rem;
    font-weight: 300;
}
.skills * .textBox:not(:last-child) { min-height: 20rem;}
.skills * .imgWrap { margin-top: 1rem; max-width: 5rem;}

/*---PROJECTS--------------------------------------------------------*/

section.projects{ margin: 0 0 3.5rem 0;}
.projectsWrap{ display: flex; flex-wrap: wrap; justify-content: space-evenly}
.grid{ text-align: center; }
.grid > .column {
    display: inline-block;
    width: 18.75rem;
    height: 11.25rem;
    background-color: grey;
    border-radius: 1.25rem;
    margin-top: 0.625rem;
}
.grid * p{ margin-top: .3125rem; }
@media (min-width: 1012px) {   
    .grid .column:not(:nth-child(3n)) {
        margin-right: 1.25rem;
    }
}
@media (max-width: 1011px) {   
    
    .grid .column:not(:nth-child(2n)) {
        margin-right: 1.25rem;
    }
}
@media (max-width: 688px) {
    .grid .column {
        margin-right: 1.25rem;
    }
}
@media (max-width: 650px) {
    .grid .column, .grid .column:not(:nth-child(2n)), .grid .column:not(:nth-child(3n)) {
        margin-right: 0rem;
    }
}
@media (max-width: 370px) {
    .grid > .column {
        width: 13.125rem;
        height: 7.875rem;
    }
    .previewImage:before {
        padding-top: 5.625rem;
    }
    .previewTextTitle, .previewTextDescription{
        font-size: .75rem;
    }
}

.thumbnail {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: .3125rem .3125rem .3125rem .3125rem rgb(233 240 243 / 60%);
    border: .125rem solid #19113583;
    border-radius: 1.25rem;
}
  .thumbnail:after {
      content: '';
      display: block;
      background-color: inherit;
      opacity: 0.9;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(2) translateX(-75%) translateY(-75%) translateZ(0) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
    }
.thumbnail:hover:after {
        transform: scale(2) translateX(0%) translateY(0%) translateZ(0) rotate(-28deg);
      }
.thumbnail:hover .previewImage {
        transform: scale(1.2) translateZ(0);
      }
.thumbnail:hover .previewText {
        opacity: 1;
        transform: translateY(0);
      }

.previewImage {
    height: auto;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.previewImage:before {
      content: "";
      display: block;
      padding-top: 11.25rem;
      overflow: hidden;
}
.previewImage > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0;
}
.previewText {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    margin: 1.25rem;
    text-align: center;
    z-index: 1;
    color: #ffffff;
    transition: opacity 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: 300ms;
    transform: translateY(-20%);
}
.previewTextWrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.previewTextTitle {
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 1rem;
    margin: .3125rem 0 0 0;
}
  
.previewTextDescription {
    opacity: 0.7;
}
  
.previewLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.projects *{
    box-sizing: content-box;
}


/*---FOOTER-----------------------------------------------------------*/

.footer{
    width: 100%;
    padding-bottom: 0.5rem;
}
.ifYouInterested {
    margin: -2rem 0 2rem 0;
    padding: 2rem 0;
    width: 80%; 
    background: linear-gradient(70deg, #6eb2ff, #6eb2ff, #58a6ff, #3292ff, #1280ff, #3292ff, #58a6ff, #6eb2ff, #6eb2ff);
    border: .125rem solid #19113583;
    border-radius: 1.25rem;
    box-shadow: 0 .1875rem .1875rem .1875rem rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
}
.ifYouInterested > .column{
    width: 33.333%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}
.ifYouInterested * h3.contact{
    color: #fff;
    text-shadow: 0px 2px 2px black;
    padding: 0 .625rem;
}
.button.contact{
    padding: .3125rem 1.25rem;
}
@media (max-width: 700px) {
    .ifYouInterested{
        flex-direction: column;
        padding: 0.5rem;
    }
    .ifYouInterested > .column{
        margin: 1.5rem 0;
        width: 80%;
    }
}
.footer * p {
    color: #9ac9ff;
    font-weight: 300;
}
.quote{ font-size: 2.2rem; font-family: 'Amatic SC'; max-width: 500px; text-align: center; margin-top: 1rem; }

.socials { 
    margin: 2rem 0;
}
.socials .field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.field .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
.socials a {
    background-color: transparent;
    display: inline-block;
    
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    border: .1875rem solid #9ac9ff;
}
.socials a:link, a:visited{ text-decoration: none; }
.socials a:hover{
    color: #2d83e6;
    background-color: white;
}
.field a:not(:last-child) {
    margin-right: .9375rem;
}
svg{
    width: 2.5rem; 
    height: 2.5rem;
    fill:#9ac9ff;
}
@media (max-width: 500px) {
    .field a:not(:last-child) {
        margin-right: .3125rem;
    }
}
@media (max-width: 370px) {
    .socials a{
        width: 2rem;
        height: 2rem;
    }
    svg{
        width: 2rem;
        height: 2rem;
    }
    .field {
        flex-wrap: wrap;
    }
}
@media (max-width: 286px) {
    .field a {
        margin: .3125rem;
    }
}
.created{ font-weight: 200; font-size: 8pt; height: fit-content;}