*{
    margin: 0;
    padding: 0;
}




/* --------------------------- */
header{
    /* outline: 1px solid black; */
    width: 1300px;
    height: 80px;
    margin: auto;
    display: block;
}

nav .container {
    align-items: stretch;
    display: flex;
    width: 100%;
    min-height: 80px;
    justify-content: space-between;
}

.logo, .contact {
    /* outline: 1px solid red; */
    height: 80px;
    width: fit-content;
}

.logo * img {
    max-height: 80px;
    border-radius: 15%;
}
.avatar > img {
    max-height: 250px;
    border-radius: 50%;
}
.workplace * img {
    max-block-size: 340px;
}

.avatar{
    margin: 75px 0;
}

.contactButton {
    outline: 1px solid rgb(87, 87, 243);
    background-color: rgb(45, 131, 230);
    color:aliceblue;
    font-weight: bolder;
    padding: 5px;
    margin: 20px 0;
    border-radius: 10%;
}

/*-----------------------*/
.container {
    /* border: 1px solid grey; */
    text-align: center;
    margin: auto;
    width: 1000px;
}

h1 {
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}
.meetNgreet * h1 { font-size: 34pt; }
.about * h1 { font-size: 28pt; }
.skills * h1 { font-size: 24pt; }
h2 {
    padding: 15px 0 0;
    color:#2d83e6;
}
h3 {
    padding: 5px 0;
    font: normal 16px/20px;
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    font-weight: 500;
}
p {
    padding: 0 25px;
    min-height: 120px;
    margin: 10px 0 15px;
    font: normal 16px/20px;
    font-family: 'Oswald', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

.about * h3 {
    margin: auto;
    width: 50%;
    text-align: justify;
    padding: 20px;
}
.skills * h3 {
    color:rgb(45, 131, 230);
    font-weight: 600;
}

.meetNgreet {
    /* outline: 1px solid black; */
    height: 860px;
}

.about {
    background-color: #2d83e6;
    min-height: 500px;
}
.about * .content {
    padding: 50px 0 100px;
}

.skills > .container {
    position: relative;
    bottom: 100px;
    background-color:white;
    border-radius: 20px;
    
}
.skills * .content {
    display: flex;
    justify-content: space-between;
}
.column {
    display: block;
    border: 1px solid rgb(197, 197, 197);
    width: 300px;
    min-height: 500px;
    padding: 0 25px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 60%);
}

.column > img {
    margin-top: 20px;
    max-block-size: 70px;
}