.usersList {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.usersList * li {
    border: 1px solid grey;
    border-radius: .3125rem;
    font-size: 1.25rem;
    padding: .3125rem;
}

.usersList ul {
    list-style: none;
    padding: 0;
}